<mat-expansion-panel class="tarjeta">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="mat-body-strong">
                Antecedentes sociales
            </div>
            
        </mat-panel-title>
        
    </mat-expansion-panel-header>
    <div class="row">
        <div class="col-md-4 ">
            <div class="mat-body-strong">  
                Religion:
            </div>
            <div class="">
                Catoloco
            </div>            
        </div>
        <div class="col-md-4 ">
            <div class="mat-body-strong">  
                Composiciòn familiar:
            </div>
            <div class="">
                Vive con padre y madre.
            </div>            
        </div>


       
    </div>

    <div class="row">
        <div class="col-md-10 ">
            <div class="mat-body-strong">  
                Habitos nocivos - Adicciones:
            </div>
            <div class="">
                ver mamis en instagram y tinder
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vero incidunt. Quibusdam fugit sit repellat assumenda voluptatibus qui autem, consequuntur officiis, eius itaque hic obcaecati placeat inventore delectus? Nemo, assumenda.
            </div>            
        </div>   
       
    </div>   

    <div class="row">
        <div class="col-md-10 ">
            <div class="mat-body-strong">  
                Automedicaciòn:
            </div>
            <div class="">
                Toma vitamina c 
            </div>            
        </div>   
       
    </div> 
   
    

</mat-expansion-panel>