<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Crear paciente</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Tipo de documento</mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of tipoDocumento" [value]="tipo.name">
                                            {{tipo.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                                  </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Número de identificación: </mat-label>
                                    <input type="id" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Primer Nombre:</mat-label>
                                    <input type="name" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Segundo nombre: </mat-label>
                                    <input type="name" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Primer apellido:</mat-label>
                                    <input type="name" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Segundo apellido: </mat-label>
                                    <input type="name" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 pr-1">
                                <mat-form-field appearance="fill">
                                    <mat-label>Sexo</mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of sexo" [value]="tipo.name">
                                            {{tipo.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                            </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 pr-1">
                                <mat-form-field appearance="fill">
                                    <mat-label>Estado Civil</mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of estadoCivil" [value]="tipo.name">
                                            {{tipo.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                          </mat-error> -->
                                </mat-form-field>
                            </div>

                            <div class="col-md-3 pr-1">
                                <mat-form-field>
                                    <mat-label>Fecha de nacimiento</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Ocupación</mat-label>
                                    <input matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Teléfono</mat-label>
                                    <input type="phone" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Dirección</mat-label>
                                    <input type="address" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Lugar de residencia</mat-label>
                                    <input matInput #message maxlength="256">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill">
                                    <mat-label>Aseguradora: </mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of aseguradora" [value]="tipo.name">
                                            {{tipo.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                              </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill">
                                    <mat-label>Tipo de vinculación: </mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of tipoVinculacion" [value]="tipo.name">
                                            {{tipo.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                              </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Datos de persona responsable</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Nombre: </mat-label>
                                    <input type="name" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Telefono:</mat-label>
                                    <input type="phone" matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Parentesco: </mat-label>
                                    <input matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>