<mat-expansion-panel class="tarjeta">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="mat-body-strong">
                Antecedentes no patològicos
            </div>
            
        </mat-panel-title>
        
        <!--<mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="row">
        <div class="col-md-4 ">
            <div class="mat-body-strong">  
                Trabajo:
            </div>
            <div class="">
                Desarrollador
            </div>            
        </div>
        <div class="col-md-4 ">
            <div class="mat-body-strong">  
                Frecuencia de ejercicio fisico:
            </div>
            <div class="">
                Antes me hechaba los cotejos, pero con el covid se acabo.
            </div>            
        </div>


       
    </div>

    <div class="row">
        <div class="col-md-10 ">
            <div class="mat-body-strong">  
                Habitos nocivos - Adicciones:
            </div>
            <div class="">
                ver mamis en instagram y tinder
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vero incidunt. Quibusdam fugit sit repellat assumenda voluptatibus qui autem, consequuntur officiis, eius itaque hic obcaecati placeat inventore delectus? Nemo, assumenda.
            </div>            
        </div>   
       
    </div>   

    <div class="row">
        <div class="col-md-10 ">
            <div class="mat-body-strong">  
                Automedicaciòn:
            </div>
            <div class="">
                Toma vitamina c 
            </div>            
        </div>   
       
    </div> 
   
    

</mat-expansion-panel>