<app-header [(rutas)]="rutas"></app-header>

<mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
        <div class="usuario">
            <div class="recuadro">
                <div class="foto"></div>
            </div>
            <div class="nombre-usuario"> Nombre</div>


        </div>

       
        <mat-nav-list>
            <mat-list-item *ngFor="let ruta of rutasMenu">
               
                    <a class="mat-h3 objetos" [routerLink]="[ruta.url]">
                        <mat-icon class="objeto" aria-hidden="false" aria-label="">{{ruta.icono}}</mat-icon>
                        {{ruta.nombre}}
                    </a>

               
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content opened="true">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>