<mat-expansion-panel class="tarjeta">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="mat-body-strong">
                Información personal
            </div>
            
        </mat-panel-title>
        
        <!--<mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <div class="row">
        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Nùmero de historia:
            </div>
            <div class="">
                0001
            </div>            
        </div>       
    </div>

    <div class="row">
        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Nombre:
            </div>
            <div class="">
                Andrés Felipe
            </div>            
        </div>
        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Apellido:
            </div>
            <div class="">
                Gómez Salinas
            </div>            
        </div>

        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Tipo de identificación:
            </div>
            <div class="">
                C.C
            </div>            
        </div>

        <div class="col-md-3">
            <div class="mat-body-strong">  
                Numero de identificación:
            </div>
            <div class="">
                123.456.896
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Edad:
            </div>
            <div class="">
                24 Años
            </div>            
        </div>

        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Sexo:
            </div>
            <div class="">
                Masculino
            </div>            
        </div>
        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Fecha de nacimiento:
            </div>
            <div class="">
                29 de junio de 1996
            </div>            
        </div> 

        <div class="col-md-3 ">
            <div class="mat-body-strong">  
                Estado civil:
            </div>
            <div class="">
                Soltero
            </div>            
        </div>

        
       
    </div>   
    <div class="row">
        <div class="col-md-3">
            <div class="mat-body-strong">  
                Grupo Ètnico:
            </div>
            <div class="">
                Mestizo
            </div>
        </div>
        <div class="col-md-3">
            <div class="mat-body-strong">  
                Ocupaciòn:
            </div>
            <div class="">
                Desarrollador de software
            </div>
        </div>
    </div>
    

</mat-expansion-panel>



<!--

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            Datos personales
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae facilis est enim ullam nulla eligendi magni
        reiciendis minus similique alias, neque, dolorum ipsam excepturi! Sapiente molestiae laborum velit modi quos.
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            Datos personales
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae facilis est enim ullam nulla eligendi magni
        reiciendis minus similique alias, neque, dolorum ipsam excepturi! Sapiente molestiae laborum velit modi quos.
    </mat-card-content>
</mat-card>
-->