//@import '~@angular/material/theming';

// acá se generan las paletas de colores
$mat-hce-primary: (50 : #e8f7fc,
  100 : #c7eaf7,
  200 : #a1ddf2,
  300 : #7bcfed,
  400 : #5fc4e9,
  500 : #43bae5,
  600 : #3db3e2,
  700 : #34abde,
  800 : #2ca3da,
  900 : #1e94d3,
  A100 : #ffffff,
  A200 : #d6f0ff,
  A400 : #a3ddff,
  A700 : #8ad3ff,
  contrast: (      
    50 :  #161616,
    100 : #222222,
    200 : #282929,
    300 : #303030,
    400 : #353636,
    500 : #535454,
    600 : #727272,
    700 : #9a9b9b,
    800 : #c2c3c3,
    900 : #e7e7e7,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
  ));





//$hce-primary: mat-palette($mat-hce-primary);
//$hce-accent:  mat-palette($mat-pink, 500, 900, A100);
//$hce-warn:    mat-palette($mat-red);

//$hce-theme: mat-light-theme($hce-primary, $hce-accent, $hce-warn);
