//@import '~@angular/material/theming';

// acá se generan las paletas de colores
$mat-hce-primary: (
    50 : #e8f7fc,
    100 : #c7eaf7,
    200 : #a1ddf2,
    300 : #7bcfed,
    400 : #5fc4e9,
    500 : #43bae5,
    600 : #3db3e2,
    700 : #34abde,
    800 : #2ca3da,
    900 : #1e94d3,
    A100 : #ffffff,
    A200 : #d6f0ff,
    A400 : #a3ddff,
    A700 : #8ad3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





//$hce-primary: mat-palette($mat-hce-primary);
//$hce-accent:  mat-palette($mat-pink, 500, 900, A100);
//$hce-warn:    mat-palette($mat-red);

//$hce-theme: mat-light-theme($hce-primary, $hce-accent, $hce-warn);
