<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Agregar consulta</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <h4>Tipo de consulta:</h4>
                                <mat-form-field appearance="fill">
                                    <mat-label>Elige una especialidad</mat-label>
                                    <mat-select required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let especialidad of especialidades"
                                            [value]="especialidad.name">
                                            {{especialidad.name}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Elija una especialidad
                                    </mat-error> -->
                                </mat-form-field>

                            </div>
                            <div class="col-md-6 ">
                                <h4> Fecha de la consulta: </h4>
                                <div class="">
                                    22 de abril 2021
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Padecimiento</mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Sintomas y signos:</mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Exploración física</mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Tipo de diagnóstico</mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Diagnóstico </mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill" class="text-area">
                                    <mat-label>Formulación:</mat-label>
                                    <textarea matInput #message maxlength="256"> </textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-1">
                                <mat-form-field appearance="fill">
                                    <mat-label>Dias de incapacidad: </mat-label>
                                    <input matInput #message maxlength="256">
                                </mat-form-field>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>